/.vs/*/v15/Server/sqlite3/*.*
/*/bin/*
*/obj/*
/Example/obj/Debug/netcoreapp2.0/Example.dll
/Example/obj/Debug/netcoreapp2.0/Example.pdb
/Example/Properties/PublishProfiles/Example20180516022610 - Web Deploy.pubxml.user
/Example/Properties/PublishProfiles/ExampleDemo201505.pubxml.user
/Example/Properties/PublishProfiles/FolderProfile.pubxml
/Example/Properties/PublishProfiles/FolderProfile.pubxml.user
/Example/obj/Debug/netcoreapp2.0/Example.dll
/Example/obj/Debug/netcoreapp2.0/Example.pdb
/Example/obj/Debug/netcoreapp2.0/Example.dll
/Example/obj/Debug/netcoreapp2.0/Example.pdb
