@model Example.ViewModel.ContactEditViewModel
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Main Information</div>
        <div class="form-group">
            <label asp-for="ContactType" class="control-label"></label>
            <input asp-for="ContactType" class="form-control" />
            <span asp-validation-for="ContactType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContactName" class="control-label"></label>
            <input asp-for="ContactName" class="form-control" />
            <span asp-validation-for="ContactName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mobile" class="control-label"></label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Fax" class="control-label"></label>
            <input asp-for="Fax" class="form-control" />
            <span asp-validation-for="Fax" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Index" class="control-label"></label>
            <input asp-for="Index" class="form-control" />
            <span asp-validation-for="Index" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
